html {
	font-size: 62.5%;
}

.TetrisGame {
	
}

.TetrisGame-overlayBackground {
	width: 100%;
	height: 100%;

	stroke: none;
	opacity: 0.4;
	fill: black;
}

.TetrisGame-overlayMessage {
	text-anchor: middle;

	fill: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2.8rem;
}

.TetrisGame-nextShape,
.TetrisGame-currentRound {
	text-anchor: middle;

	fill: black;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 3.5rem;
}

.TetrisGame-playerInfo {
	fill: black;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2.5rem;
}

.TetrisGame-cell {
	stroke: black;
	stroke-width: 1px;
}

.TetrisGame-cell--3 {
	fill: rgb(100, 100, 100);
}

.TetrisGame-cell--I {
	fill: rgb(200, 0, 0);
}

.TetrisGame-cell--J {
	fill: rgb(0, 200, 0);
}

.TetrisGame-cell--L {
	fill: rgb(0, 0, 200);
}

.TetrisGame-cell--O {
	fill: rgb(200, 200, 0);
}

.TetrisGame-cell--S {
	fill: rgb(0, 200, 200);
}

.TetrisGame-cell--T {
	fill: rgb(200, 0, 200);
}

.TetrisGame-cell--Z {
	fill: rgb(0, 0, 0);
}

.TetrisGame-cell--0 {
	fill: rgb(200, 200, 200);
}